*{
	box-sizing: border-box;
	margin :0px;
}
h1{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	font-size: 60px;
}
.beta{
	border:1px solid black;
	background-color: gray;
	float:left;
}
.heading{
	border:1px solid black;
	width:150px;
	text-align: center;
	padding: 5px;
	float:right;
	font-size:1.75em;
}
.pi{
	clear:right;
	padding-left:10px;
	padding-right: 10px;
	padding-top:5px;
	padding-bottom: 4px;
}
#two {
	background:red;
}
#three {
	background:yellow;
}
#one {
	background:pink;
}

.row{
	width:100%;
	font-size: 1.25em;
}
/*for desktop version*/
@media(min-width: 992px){
	.col-lg-4{
		width:33%;
		margin:0.166%;
	}
	.row{
		display:flex;
	}
}
/*for tablet version*/
@media(min-width: 768px) and (max-width: 991px){
	.col-md-5{
		width:41.66%;
		margin:4.166%;
	}
	.col-md-11{
		width:91.66%;
		margin:4.166%;
	}
}
/*for mobile version*/
@media(max-width: 767px){
	.col-sm-12{
		width:90%;
		margin:5%;
	}
}